html
  head
    title!= "RepNet"
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="assets/css/icons.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,200", rel="stylesheet", type="text/css")
  body
    // Logo
    img(src="assets/images/repnet.png", alt="RepNet logo")#logo

    .github
        .xlxd
            a(class="github-button", href="https://github.com/LX3JL/xlxd", data-icon="octicon-star", data-count-href="/LX3JL/xlxd/stargazers", data-count-api="/repos/LX3JL/xlxd#stargazers_count", data-count-aria-label="# stargazers on GitHub", aria-label="Star LX3JL/xlxd on GitHub") XLXD
        .repnet
            a(class="github-button", href="https://github.com/RemiDeltombe/repnet", data-icon="octicon-star", data-count-href="/RemiDeltombe/repnet/stargazers", data-count-api="/repos/RemiDeltombe/repnet#stargazers_count", data-count-aria-label="# stargazers on GitHub", aria-label="Star RemiDeltombe/repnet on GitHub") RepNet


    // Left menu
    div#menu-left
        #menu-left-top
        #menu-left-bottom

    // Left panels
    #panel-reflectors.panel
    #panel-nodes.panel
    #panel-stations.panel
            
    // 3D View
    div#galaxy

    // GA
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71228447-1', 'auto');
        ga('send', 'pageview');

    script(async, defer, id="github-bjs", src="https://buttons.github.io/buttons.js")

    // ---------
    // JS Import

    // Helpers
    script(src="assets/js/helper/tools.js")
    script(src="assets/js/helper/config.js")

    // Collections
    script(src="assets/js/collection/list.js")
    script(src="assets/js/collection/map.js")

    // Events
    script(src="assets/js/event/emitter.js")

    // Input
    script(src="assets/js/input/mouseEmitter.js")
    script(src="assets/js/input/mouse.js")

    // Models
    script(src="assets/js/model/base/factory.js")
    script(src="assets/js/model/base/singletonFactory.js")
    script(src="assets/js/model/base/module.js")
    script(src="assets/js/model/base/modulable.js")

    script(src="assets/js/model/station/factory.js")
    script(src="assets/js/model/station/station.js")

    script(src="assets/js/model/node/factory.js")
    script(src="assets/js/model/node/module.js")
    script(src="assets/js/model/node/node.js")

    script(src="assets/js/model/reflector/factory.js")
    script(src="assets/js/model/reflector/module.js")
    script(src="assets/js/model/reflector/reflector.js")

    // View
    script(src="assets/js/view/view.js")

    script(src="assets/js/view/menu/menuView.js")
    script(src="assets/js/view/menu/menuItemView.js")

    script(src="assets/js/view/panel/panelView.js")
    script(src="assets/js/view/panel/list/panelListView.js")
    script(src="assets/js/view/panel/list/panelListElementView.js")

    script(src="assets/js/view/three/threeElementView.js")
    script(src="assets/js/view/three/network/networkThreeView.js")
    script(src="assets/js/view/three/network/networkNodeThreeView.js")
    script(src="assets/js/view/three/dstar/dstarNetworkThreeView.js")
    script(src="assets/js/view/three/dstar/dstarReflectorThreeView.js")
    script(src="assets/js/view/three/dstar/dstarNodeThreeView.js")
    script(src="assets/js/view/three/dstar/dstarStationThreeView.js")

    script(src="assets/js/view/dstar/dstarView.js")
    script(src="assets/js/view/dstar/dstar3DView.js")
    script(src="assets/js/view/dstar/panel/panelListElementDStarView.js")
    script(src="assets/js/view/dstar/panel/panelListElementDStarModulableView.js")
    script(src="assets/js/view/dstar/panel/panelReflectorsView.js")
    script(src="assets/js/view/dstar/panel/panelNodesView.js")
    script(src="assets/js/view/dstar/panel/panelStationsView.js")

    // Controllers
    script(src="assets/js/controller/debugCtrl.js")
    script(src="assets/js/controller/socketCtrl.js")
    script(src="assets/js/controller/dstarCtrl.js")

    // App
    script(src="assets/js/repnet.js")
    
    // Libraries
    script(src="socket.io/socket.io.js")
    script(src="assets/vendors/three/three.js")