@-webkit-keyframes KF_ROTATION {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}

@-webkit-keyframes KF_SIMETRY {
	0% { transform:scaleX(1); }
	50% { transform:scaleX(-1); }
	100% { transform:scaleX(1); }
}

/* Simple reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}

html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background: #000;
	color: #fff;
	font: 14px/18px 'Titillium Web', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Logo */
#logo {
	position: absolute;
	z-index: 1;
	bottom: 18px;
	right: 18px;
	width: 90px;
	height: 26px;
}

/* Menu left */
#menu-left {
	position: absolute;
	z-index: 10;

	left: 0;
	top: 0;
	bottom: 0;
	width: 36px;
	background: #111;
}
	#menu-left .item{
		display: block;
		position: relative;
		height: 36px;
		line-height: 36px;
		cursor: pointer
	}
		/* Icons */
		#menu-left .item .icon {
			position: relative;
			z-index: 1;
			width: 36px;
			height: 36px;
			line-height: 36px;
			font-size: 28px;
			text-align: center;
			background: #111;
			box-shadow: inset 0 0 0 #222;
			transition: .25s;
		}
		#menu-left .reflector .icon { box-shadow: inset 0 0 0 #f15a24; }
		#menu-left .node .icon { box-shadow: inset 0 0 0 #24b0f1; }
		#menu-left .station .icon { box-shadow: inset 0 0 0 #88d832; }

		#menu-left .item .icon:before {
			transition: .5s;
			display: block;
		}

		#menu-left .item .icon:before { transform:rotate(0deg);}

		#menu-left .item.active .icon:before,
		#menu-left .item:hover .icon:before
		{ transform:rotate(90deg);}

		#menu-left .reflector.active .icon:before,
		#menu-left .reflector:hover .icon:before
		{ transform:rotate(180deg);}

		#menu-left .node.active .icon:before,
		#menu-left .node:hover .icon:before
		{ transform:rotate(45deg);}

		/* Label  */
		#menu-left .item .text {
			position: absolute;
			left: 36px;
			top: 0;
			width: 115px;
			padding-left: 9px;

			text-transform: uppercase;
			background: #222;
	
			transform: translateX(-100%);
			transition: .25s;
		}
		#menu-left .item:hover .text {
			transform: translateX(0);
		}

		#menu-left .reflector .text { background:#f15a24; }
		#menu-left .node .text { background:#24b0f1; }
		#menu-left .station .text { background:#88d832; }

	
		/* Active stae */
		#menu-left .item.active .text { transform: translateX(-100%); }
		#menu-left .item.active .icon { box-shadow: inset -36px 0 0 #222; }
		#menu-left .reflector.active .icon { box-shadow: inset -36px 0 0 #f15a24; }
		#menu-left .node.active .icon { box-shadow: inset -36px 0 0 #24b0f1; }
		#menu-left .station.active .icon { box-shadow: inset -36px 0 0 #88d832; }

#menu-left-top {
	position: absolute;
	top: 0;
}
#menu-left-bottom {
	position: absolute;
	bottom: 0;
}

/* Panels */
.panel {
	position: absolute;
	z-index: 1;
	left: 36px;
	top: 0;
	bottom: 0;
	padding: 20px;
	min-width: 200px;
	background: #222;
	color: #000;
	transform: translateX(-100%);
	transition: .25s;
}

.panel.active {
	transform: translateX(0%);
}
	.panel-list-element {
		border-bottom: 1px solid rgba(0,0,0,.1);
		border-top: 1px solid rgba(0,0,0,.1);
		cursor: pointer;
		transition: 0.15s;

		/* remove padding from the panel*/
		margin-left: -20px;
		box-sizing: initial;
		padding: 8px 20px;
		width: 100%;
	}
	.panel-list-element:hover {
		background: rgba(0,0,0,.05);
	}
	.panel-list-element+.panel-list-element {
		border-top: 0;
	}

		.panel-list-element .modules {
			float: right;
		}

			.panel-list-element .module {
				float: left;
			    width: 22px;
			    height: 22px;
			    border: 1px solid rgba(0,0,0,.2);
			    color: rgba(0,0,0,.2);
			    border-radius: 50%;
	    		margin-left: 3px;
	    		text-align: center;
	    		line-height: 20px;
			}
			.panel-list-element .module.linked {
			    border-color: #000;
			    color: #000;
			}


#panel-reflectors { background:#f15a24; }
#panel-nodes { background:#24b0f1; }
#panel-stations { background:#88d832; }

	.panel-title {
		text-transform: uppercase;
		font-size: 250%;
		margin-bottom: 20px;
	}

	.panel-content {
		border-top: 2px solid rgba(0,0,0,.1);
	    position: absolute;
	    top: 58px;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    overflow-y: scroll;
	    padding: 0 18px;
	}

/* 3D View */
#galaxy {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 36px;
}